<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" href="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fmallite.png?v=1624555240998" />

    <title>Cart</title>
    
    <script>
      function itemsBought() {
	      alert("Items successfully bought ✅");
      }
    </script>
  </head>

  <header style="margin-top:30px;margin:left:30px;">
    <div class="row">
      <div class="col-1">
        <img
          src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fmallite.png?v=1624555240998"
          style="height:100px;width:100px;"
          alt="logo"
        />
      </div>

      <div class="col-9">
        <h1>MALLITE</h1>
        <h3>Bringing you an all-in-one experience virtually</h3>
        <br />
      </div>
    </div>
  </header>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg"
      style="background-color: #5f87ff; padding:0px;"
    >
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">MALLITE</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">CART</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <br/>
    
    <h1>
      Items Added to Cart
    </h1>
    
    <br/>

    <div class="row">

          <div class="col-4">
            <div class="card">
              <img src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fshirt-cart.jpeg?v=1624586862999" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Casual T-Shirt (White)</h5>
                <p class="card-text" style="color: #b3b3b3;"><del>&#36;20.99</del> &#36;18.89</p>
                <p class="card-text" style="color: #b3b3b3;">Amount: 1</p>
            </div>
            </div>
          </div>
      
          <div class="col-4">
            <div class="card">
              <img src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fpants-cart.jpeg?v=1624586862042" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pants (White)</h5>
                <p class="card-text" style="color: #b3b3b3;">&#36;49.99</p>
                <p class="card-text" style="color: #b3b3b3;">Amount: 2</p>
              </div>
            </div>
          </div>
          
          <div class="col-4"></div>
    </div>
    
    <br/>
    
    <div style="display:flex; justify-content:center;">
      <a onclick="itemsBought(); return false;" style="width:100%; height 20px;" class="btn btn-primary">Let's Buy!</a>
    </div>
    
    <div style="display:flex; justify-content:center;">
      <a href="https://mallite.glitch.me/" style="width:100%; height 20px;" class="btn btn-primary">Back to Home</a>
    </div>

  </body>
</html>