<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entrance</title>
    <meta name="description" content="Welcome to Mall 1">
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@5/dist/aframe-event-set-component.min.js"></script>
    <script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
    <script src="https://unpkg.com/aframe-proxy-event-component@2.1.0/dist/aframe-proxy-event-component.min.js"></script>
    
    <script>
      AFRAME.registerComponent('navigate-on-click', {
        schema: {
          url: {default: ''}
        },

        init: function () {
          var data = this.data;
          var el = this.el;

          el.addEventListener('click', function () {
            window.location.href = data.url;
          });
        }
      });
    </script>
    
  </head>
  
  <body>
    <a-scene>
      <a-assets>
        <img id="mall" crossorigin="anonymous" src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fmall.jpeg?v=1624584694536">
        <img id="fashion-box" src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Ffashion-box.png?v=1624585487707">
        <img id="fnb-box" src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Ffnb-box.png?v=1624585487915">
        <img id="health-and-beauty-box" src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fhealth-and-beauty.png?v=1624585487998">

        <audio id="click-sound" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/audio/click.ogg"></audio>
        
        <a-asset-item id="shirt-obj" src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fshirt.obj?v=1624545346330"></a-asset-item>
        <a-asset-item id="shirt-mtl" src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fshirt.mtl?v=1624545343180"></a-asset-item>
        <a-asset-item id="pants-obj" src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fpants.obj?v=1624553173338"></a-asset-item>
      </a-assets>
      
      <a-entity position="-2 0 -3"
                geometry="primitive: plane; height: 1; width: 1"
                material="shader: flat; src: #fnb-box"
                event-set__mouseenter="scale: 1.5 1.5 1.5"
                event-set__mouseleave="scale: 1 1 1"></a-entity>
      
      <a-entity position="0 0 -3"
                geometry="primitive: plane; height: 1; width: 1"
                material="shader: flat; src: #fashion-box"
                navigate-on-click="url:https://mallite.glitch.me/fashion"
                event-set__mouseenter="scale: 1.5 1.5 1.5"
                event-set__mouseleave="scale: 1 1 1"
                sound="on:click; src:#click-sound"></a-entity>
      
      <a-entity position="2 0 -3"
                geometry="primitive: plane; height: 1; width: 1"
                material="shader: flat; src: #health-and-beauty-box"
                event-set__mouseenter="scale: 1.5 1.5 1.5"
                event-set__mouseleave="scale: 1 1 1"></a-entity>

      <a-entity camera="" look-controls cursor="rayOrigin: mouse"></a-entity>

      <a-sky id="image-360" radius="10" src="#mall"
             animation__fade="property: components.material.material.color; type: color; from: #FFF; to: #000; dur: 300; startEvents: fade"
             animation__fadeback="property: components.material.material.color; type: color; from: #000; to: #FFF; dur: 300; startEvents: animationcomplete__fade"></a-sky>
    </a-scene>
  </body>
</html>