<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="icon" href="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fmallite.png?v=1624555240998" />

    <title>MALLITE</title>
  </head>

  <header style="margin-top:30px;margin:left:30px;">
    <div class="row">
      <div class="col-1">
        <img
          src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fmallite.png?v=1624555240998"
          style="height:100px;width:100px;"
          alt="logo"
        />
      </div>

      <div class="col-9">
        <h1>MALLITE</h1>
        <h3>Bringing you an all-in-one experience virtually</h3>
        <br />
      </div>
    </div>
  </header>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-lg"
      style="background-color: #5f87ff; padding:0px;"
    >
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#mallite">MALLITE</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#about-us">ABOUT US</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">CONTACT US</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">CART</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <br/>

    <div id="mallite" class="row">

          <div class="col-4">
            <div class="card">
              <!--        Replace image with preview of some mall        -->
              <img src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fpreview.png?v=1624553454991" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mall 1</h5>
                <p class="card-text" style="color: #b3b3b3;">We are the best mall in Singapore!</p>
                <a href="https://mallite.glitch.me/mall" class="btn btn-primary">Visit Mall 1!</a>
              </div>
            </div>
          </div>
      
          <div class="col-4">
            <div class="card">
              <!--        Replace image with preview of some mall        -->
              <img src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fpreview.png?v=1624553454991" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mall 2</h5>
                <p class="card-text" style="color: #b3b3b3;">Mall 1 is lying; WE are the best!</p>
                <a href="#" class="btn btn-primary">Visit Mall 2!</a>
              </div>
            </div>
          </div>
          
          <div class="col-4">
            <div class="card">
              <!--        Replace image with preview of some mall        -->
              <img src="https://cdn.glitch.com/2000b310-d3f0-4505-b94a-984cf915198b%2Fpreview.png?v=1624553454991" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mall 3</h5>
                <p class="card-text" style="color: #b3b3b3;">Mall 1 is right, but we are the biggest mall!</p>
                <a href="#" class="btn btn-primary">Visit Mall 3!</a>
              </div>
            </div>
          </div>
        
    </div>
    
    <br/>
    
    <div id="about-us">
      <p>
        Mallite is a platform where malls in Singapore and abroad are transformed into virtual malls!
      </p>
      <p>
        As the upcoming new normal no longer mandates those who are infected by Covid-19 to be quarantined, we must find a solution to enforce intrinsic motivations in people such that they have more reasons to stay at home, and fewer reasons to visit shopping malls.
        Why is this important? Well, even though we are in a pandemic, some of us still have the incentive to go outside due to boredom or the need to break our home-based daily routines.
        Moreover, those of us who are ill - even with Covid-19 - sometimes still desire to step outdoors because of the very same reasons.
        Hence, should we be able to give ourselves minimal reasons to go outside, we can keep ourselves and our communities safe.
        This is where Mallite enters.
      </p>
      <p>
        Furthermore, we hope to help small retailers (SMEs) to survive in the pandemic.
        This is because they receive a very small or even no income from online shopping due to their lack of presence in the online shopping industry
Virtually no cost for the SMEs → better than developing their own websites which cost a substantial amount (hiring web developers, domain names, hosting, etc.)

      </p>
    </div>
    
  </body>
</html>
